.flex_marcas{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.marcas{
    padding: 10rem;
    border: 20rem;
    img{
        width: 20rem;
    }
    img:hover{
        transform: scale(1.8);
    }
}


