.flex_marcas{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.marcas{
    padding: 3rem 10rem 1rem 10rem;
    margin-bottom: 5rem;
    border: 20rem;
    cursor: pointer;
}

.marcas img{
    width: 20rem;
}