.parrafo_tips{
    font-size: 3rem;
    text-align: center;
    color: hotpink;
    font-family: 'Paytone One';
    margin: 5rem 0rem;
}

.parrafo_tips2{
    font-size: 3rem;
    text-align: center;
    color: rgb(21, 203, 60);
    font-family: 'Paytone One';
    margin: 5rem 0rem;
}

.slide{
    img{
        height: 60rem;
    }
}